*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbarSec{
    height:60px;
    margin: auto;
    // background-color:rgb(230, 15, 15);
    box-shadow: 0 0 5px rgb(240, 218, 218);
    position: fixed;
    left: 0;
    right: 0;
    top:0;
    z-index:1000;
    background-color:white;
    .container{
        width:90%;
        margin: auto;
        
        .row{
            display: flex;
            padding:10px;
            .col1{
                width:15%;
                .logoDiv{

                    img{
                        width:130px;
                        height:30px;
                    }
                }
            }
            .col2{
                width:50%;
                padding-top:5px;
                .row2{
                    display:flex;
                    justify-content: space-evenly;
                    color: #484848;
                    font-weight: 700;
                }
            }
            .col3{
                width:30%;
                // padding-top:5px;
                // background-color: blue;
                display: flex;
                justify-content: space-between;
                .row3{
                    display: flex;
                    border:1px solid #6F6F6F;
                    height:40px;
                    width:280px;

                    .inputDiv{
                       padding-top: 5px;
                        input{
                            
                            border: none;
                            padding:5px 60px 10px 5px;
                        }
                    }
                    .search-icon-Div{
                        padding:10px 0px 0px 0px;
                        color: #6F6F6F;
                    }
                }

                .col3-icons{
                    display: flex;
                    padding-top:5px;

                    .icon{
                        padding-left:15px;
                        i{
                            font-size:20px;
                            color:#6F6F6F;
                        }
                    }
                }
            }
        }
    }
}